force-app/main/default/flows/CQUI_KR_TargetCompletionDate_AL_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>InRecord_setDate</name>
        <label>InRecord=setDate</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>InRecord.CQ_KR_Training_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>setDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OutRecord_InRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OutRecord_InRecord</name>
        <label>OutRecord=InRecord</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>OutRecord.CQ_KR_Training_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InRecord.CQ_KR_Training_Completion_Date__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>setDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+10</expression>
    </formulas>
    <interviewLabel>CQUI KR TargetCompletionDate AL Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CQUI KR TargetCompletionDate AL Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>InRecord_setDate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CQ_KR_SQX_Coach__c</objectType>
    </variables>
    <variables>
        <name>OutRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CQ_KR_SQX_Coach__c</objectType>
    </variables>
</Flow>
